.venv/
Qbpm/
_site/
_site-*/
node_modules/
package-lock.json
.pytest_cache/
__pycache__/
*.pyc
.DS_Store
src/qbpm.egg-info/
uv.lock
media/blank/downloads/*
media/blank/snapshots/*
!media/blank/downloads/.gitkeep
!media/blank/snapshots/.gitkeep_site/
_site-*/
